.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  background-color: var(--background);
  color: white;
}

.title {
  margin-right: 16px;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  height: 100%;
}
.navigation ul {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.brand {
  margin: 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}
.brand span {
  color: yellow;
}

.changeButton {
  margin-left: 16px;
}
.changeButton span {
  margin-left: 8px;
  font-weight: 700;
}
